Thumbs.db
.DS_Store
.gradle
build/
*.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.asscache
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
